# =========================
# ENV
# =========================

backend/.env
frontend/.env.local

.env
.env.*

!.env.example
!backend/.env.example
!frontend/.env.example


# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
.venv/
venv/


# =========================
# NODE
# =========================

node_modules/
.next/


# =========================
# BUILD
# =========================

dist/
build/


# =========================
# CACHE
# =========================

.cache/
tmp/


# =========================
# LOGS
# =========================

*.log


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# SYSTEM
# =========================

.DS_Store
Thumbs.db


# =========================
# GENERATED
# =========================

backend/generated/